
### items below adapted from:
#   https://gist.github.com/dedunumax/54e82214715e35439227
#   https://github.com/github/gitignore/blob/master/Gradle.gitignore
#   https://github.com/github/gitignore/blob/master/Java.gitignore

## java
.mtj.tmp/
*.class
*.ctxt
*.ear
*.jar
*.log
*.mtj.tmp/
*.nar
*.war
*.zip
*.tar.gz
*.rar
hs_err_pid*


## gradle
!src/**/build/
bin/
**/build/
.gradle
.gradletasknamecache
gradle-app.setting
/target/

## intellij
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws


## eclipse
.settings/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

## netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## vs code
.vscode/
*.code-workspace

## osx
.DS_Store

